################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wojciech.Nijak/NUnitTestProject1/NUnitTestProject1/obj
