################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Krzysiek.Gibert/MoneyZPSB/Money/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Release
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/Cash.csprojAssemblyReference.cache
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug
/Krzysiek.Gibert/MoneyZPSB/Money/obj
/Wojciech.Nijak
/Slawomir.Ostrowski
/Damian Wąsik
/Dawid.Partyka
/IgorOjrzynski
/.vs/ZPSB202009/v16/.suo
/.vs/ZPSB202009/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.pdb
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.exe.config
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.exe
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug
/Dawid.Partyka/unitTest/obj
/IgorOjrzynski/NUnitTestProjectIgorOjrzynski/.vs/NUnitTestProjectIgorOjrzynski
/IgorOjrzynski/NUnitTestProjectIgorOjrzynski/bin/Debug/netcoreapp3.1
/IgorOjrzynski/NUnitTestProjectIgorOjrzynski/obj/Debug/netcoreapp3.1
/IgorOjrzynski/NUnitTestProjectIgorOjrzynski/obj
/Slawomir.Ostrowski/NUnitTestProject1/NUnitTestProject1/obj/Release/netcoreapp3.1
/IgorOjrzynski/SpecflowSelenium/SpecFlowProject1/.vs/SpecFlowProject1/v16
/IgorOjrzynski/SpecflowSelenium/SpecFlowProject1/bin/Debug/netcoreapp3.1
/IgorOjrzynski/SpecflowSelenium/SpecFlowProject1/obj/Debug/netcoreapp3.1
/IgorOjrzynski/SpecflowSelenium/SpecFlowProject1/obj
