################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Krzysiek.Gibert/MoneyZPSB/Money/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Release
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/Cash.csprojAssemblyReference.cache
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Krzysiek.Gibert/MoneyZPSB/Money/obj/Debug
/Krzysiek.Gibert/MoneyZPSB/Money/obj
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/project.nuget.cache
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/project.assets.json
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.g.targets
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.g.props
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.dgspec.json
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1/NUnitTestProject1.csprojAssemblyReference.cache
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1/NUnitTestProject1.assets.cache
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1/NUnitTestProject1.AssemblyInfoInputs.cache
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1/NUnitTestProject1.AssemblyInfo.cs
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj/Debug/netcoreapp3.1
/Karol.Plucinski/NUnitTestProject1/NUnitTestProject1/obj
/Karol.Plucinski/NUnitTestProject1/.vs/NUnitTestProject1/v16/.suo
/Karol.Plucinski/NUnitTestProject1/.vs/NUnitTestProject1/v16
/Karol.Plucinski/NUnitTestProject1
/.vs/ZPSB202009/v16/.suo
/.vs/ZPSB202009/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.pdb
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.exe.config
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug/Money.exe
/Krzysiek.Gibert/MoneyZPSB/Money/bin/Debug
